@page "/order"

@using System.Net.Http.Json
@inject HttpClient Http

<h3>Create Order</h3>

<div>
    <div class="form-group">
        <div class="form-group">
            <label for="exampleFormControlSelect0">Paid Method</label>
            <select class="form-control" id="exampleFormControlSelect0" @bind="model.PaymentType">
                <option value="1" selected>CreditCard</option>
                <option value="2">PayPall</option>
                <option value="3">BankTransfer</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Client</label>
        <select @onchange="SelectedClient" class="form-control" id="exampleFormControlSelect1">
            @if (clientlist != null)
            {
                @foreach (var c in clientlist.Items)
                {
                    <option value="@c.ClientId">@c.Name</option>
                }
            }
            else
            {
                <option value="">Loading....</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect2">Product</label>
        <select @onchange="Selected" class="form-control" id="exampleFormControlSelect2">
            @if (productslist != null)
            {
                @foreach (var p in productslist.Items)
                {
                    <option value="@p.ProductId">@p.Name</option>
                }
            }
            else
            {
                <option value="">Loading....</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Quantity</label>
        <input type="text" required class="form-control" @bind-value="quantity" id="exampleFormControlTextarea1" />
        <button @onclick="HandleAddProduct" type="button"> Add Product</button>
    </div>
    <div class="form-group">
        <ul>
            @if (model.Items != null)
            {
                <li>Id -- Quantity -- Price</li>
                @foreach (var p in model.Items)
                {
                    <li>@p.ProductId --   @p.Quantity  --  @p.Price -- </li>
                }
            }
        </ul>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Make Order</label>
        <button @onclick="HandleBuy" type="button"> BUY PRODUCT(s)!</button>
        @message
    </div>
</div>

@code {

    private OrderCreateCommand model = new OrderCreateCommand();

    private DataCollection<ClientDto> clientlist;
    private DataCollection<ProductDto> productslist;
    private int selectedproduct = 0;
    private int quantity = 1;
    private string message = "";

    protected override async Task OnInitializedAsync()
    {
        clientlist = await this.Http.GetFromJsonAsync<DataCollection<ClientDto>>("clients?take=100&page=1");
        productslist = await this.Http.GetFromJsonAsync<DataCollection<ProductDto>>("products?take=100&page=1");
    }

    private void Selected(ChangeEventArgs e)
    {
        selectedproduct = Convert.ToInt32(e.Value.ToString());
    }
    private void SelectedClient(ChangeEventArgs e)
    {
        model.ClientId = Convert.ToInt32(e.Value.ToString());
    }
    
    private void HandleAddProduct()
    {
        var product = productslist.Items.FirstOrDefault(x => x.ProductId == selectedproduct);

        model.Items.Add(new OrderCreateDetail()
        {
            ProductId = product.ProductId,
            Quantity = quantity,
            Price = product.Price * quantity
        });
    }

    private async void HandleBuy()
    {
        if (model.Items == null)
        {
            message = "Add minimun one product to make order";
        }
        else
        {
            await this.Http.PostAsJsonAsync<OrderCreateCommand>("orders", model);
            message = "Order maked visit the order page";
        }
    }
}
